.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-1 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 3rem;
}

.section-2 {
    margin-bottom: 3rem;
}

.calendar {
    margin-bottom: 3rem;
    position: absolute;
    right: 4rem;
    background-color: blue;
}


/*Navbar*/
.navbar{
    padding: 30px;
    background-color: rgb(76, 0, 255) !important;
  }
  .bgcolor{
    background: lightblue;
    transition: all 1s;
}
  .navbar-brand{
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color:white !important;
    background-color: rgb(76, 0, 255) !important;
  }

  .navbar-nav{
    padding-left: 300px;

  }
  .nav-link{
    font-weight: bold;
    font-style: italic;
    color: white !important;
    margin-left: 5px;
    transition: o.6ms;
    border-radius: 20px;
    text-transform: capitalize;
  }
  .nav-link:hover{
    transform: translateY(-20px);
    background: orangered;
  }

  .events {
    margin: 200px;
  }


   /* SECTION FOR MODAL*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* This changes the button size/color*/
.button{
  background-color: rgb(26, 224, 231);
  padding: 1em 2em;
  color:deeppink;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  border-radius: 15px 50px 30px;
}
/*paragraph inside text*/
p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(238, 1, 131);
}
/* Modal Content/Box */
.modal-content {
  background-color: #20dfdf;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 0;
  width: 70%; /* Could be more or less, depending on screen size */
  box-shadow: 0 5px 8px 0 rgb(241, 9, 144), 0 7px 20px 0 rgba(0,0,0,0.17)
}

/* The Close Button */
.close {
  color: rgb(247, 12, 141);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
              /*END SECTION FOR MODAL*/


