.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-1 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 3rem;
}

.section-2 {
    margin-bottom: 3rem;
}

.calendar {
    margin-bottom: 3rem;
    position: absolute;
    right: 4rem;
    background-color: blue;
}


/*Navbar*/

.navbar{
  position: relative;
  padding: 30px;
}

.navbar-light {
background-color: lightblue;
}
.navbar-brand{
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  text-transform: capitalize;
  letter-spacing: 2px;
  color:white !important;
}
.navbar-nav{
  padding-left: 300px;
}
.nav-link{
  font-weight: bold;
  font-style: italic;
  color: white !important;
  margin-left: 5px;
  transition: o.6ms;
  border-radius: 20px;
  text-transform: capitalize;
}
.nav-link:hover{
  transform: translateY(-20px);
  background: orangered;
}


/* .navbar{
  padding: 30px;
}
.bgcolor{
  background: lightblue;
  transition: all 2s;
}
.navbar-brand{
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  text-transform: capitalize;
  letter-spacing: 2px;
  color:white !important;
}
.navbar-nav{
  padding-left: 300px;
}
.nav-link{
  font-weight: bold;
  font-style: italic;
  color: white !important;
  margin-left: 5px;
  transition: o.6ms;
  border-radius: 20px;
  text-transform: capitalize;
}
.nav-link:hover{
  transform: translateY(-20px);
  background: orangered;
} */

  .events {
    margin: 200px;
  }


  

   /* SECTION FOR MODAL */
/* The Modal (background)*/

  modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}


  button{
  background-color: rgb(240, 60, 6);
  padding: 1em 2em;
  color:rgb(250, 248, 249);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  border-radius: 30px 30px 30px 30px;
}


/* paragraph inside text
p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(238, 1, 131);
}



  modal-content {
  background-color: #20dfdf;
  margin: 10% auto; 
  padding: 20px;
  border: 0;
  width: 70%;  
  box-shadow: 0 5px 8px 0 rgb(241, 9, 144), 0 7px 20px 0 rgba(0,0,0,0.17)
}


close {
  color: rgb(247, 12, 141);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

close:hover,
close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; */ 

              /*END SECTION FOR MODAL*/