.navbar{
    padding: 30px;
   
  }
  .bgcolor{
    background: lightblue;
    transition: all 2s;
}

  .navbar-brand{
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color:white !important;

    
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}
button{
 
  padding: 1em 2em;
  color:rgb(250, 248, 249);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 5px 8px 0 rgb(241, 49, 1), 0 7px 20px 0 rgb(148, 181, 252)
}
  .navbar-nav{
    padding-left: 530px ;

  }
  .nav-link{
    font-weight: bold;
    font-style: italic;
    color: white !important;
    margin-left: 5px;
    transition: o.6ms;
    border-radius: 20px;
    text-transform: capitalize;
  }
  .nav-link:hover{
    transform: translateY(-20px);
    background: orangered;
  }
  /*header*/
  .header{
    margin: 0;
    padding: 0;
  }
  .header .image-Parent{
    position: relative;
  }
  .header img{
    height:100vh;
    width:100%;
  }

  .header.img-overlay{
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index:1 ;
    opacity: 0.4;
  }
  

/*content-Header*/
.header .img-content{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 2;
    color: white !important;
    text-align: center !important;
    justify-content: center !important;
}

.header .img-content h2 {
    font-weight: bold;
    font-style:italic ;
    font-size: 50px;
    margin-bottom: 20px !important;
}

  /*Event Star*/
  
  .event{
  margin:200px auto;
}
 
 /* cards */
 
 .card {
  
  width: 20%;
  height: 320px;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
}


.card:hover {
  background-color: grey;
  cursor: pointer;
  color: white;
  transition: all 1s;
}

.container{
  width: 100%;
  height: auto;
  display:flex

  

}


.imgsize{
  border-top-left-radius: 15px ;
  border-top-right-radius: 15px ;
  background-size: cover;
  

}
.colordate{
color:red;
}
