.navbar{
    padding: 30px;
    background-color: lightblue !important;
   
  }
  .bgcolor{
    background: lightblue;
    transition: all 2s;
}
  .navbar-brand{
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color:white !important;
    
  }
  .navbar-nav{
    padding-left: 300px;
    

  }
  .nav-link{
    font-weight: bold;
    font-style: italic;
    color: white !important;
    margin-left: 5px;
    transition: o.6ms;
    border-radius: 20px;
    text-transform: capitalize;
  }
  .nav-link:hover{
    transform: translateY(-20px);
    background: orangered;
  }
