/*navbar*/
.navbar{
    padding: 30px;
    background-color: lightblue !important;

  }

  .navbar-brand{
    background: lightblue;
    transition: all 2s;
}
.navbar-brand{
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color:white !important;
    
  }
.navbar-nav{
    padding-left: 500px;
    

  }
.nav-link{
    font-weight: bold;
    font-style: italic;
    color: white !important;
    margin-left: 5px;
    transition: o.6ms;
    border-radius: 20px;
    text-transform: capitalize;
  }
.nav-link:hover{
    transform: translateY(-20px);
    background: orangered;
  }

  /* space */
.space{
    margin: 200px;
  }


  /* cards */
.card {
  
  width: 20%;
  height: 320px;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
}


.card:hover {
  background-color: grey;
  cursor: pointer;
  color: white;
  transition: all 1s;
}

.container{
  width: 100%;
  height: auto;
  display:flex

  

}


.imgsize{
  border-top-left-radius: 15px ;
  border-top-right-radius: 15px ;
  background-size: cover;
}


