.navbar{
    padding: 30px;
    background-color: lightblue !important;

}
.bgcolor{
    background: lightblue;
    transition: all 2s;
}
.navbar-brand{
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color:white !important;
    
}
.navbar-nav{
    padding-left: 300px;
    

}
.nav-link{
    font-weight: bold;
    font-style: italic;
    color: white !important;
    margin-left: 5px;
    transition: o.6ms;
    border-radius: 20px;
    text-transform: capitalize;
}
.nav-link:hover{
    transform: translateY(-20px);
    background: orangered;
}


/*login*/
body{
    margin: 0;
    padding: 0;
    font-style: italic;
    background: lightblue;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(65, 7, 201);
    text-align:center;
}

.box h1{
color:white;
text-transform: uppercase;
font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"]{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid orangered;
padding: 14px 10px;
width: 200px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
}
.box input[type = "text"]:focus, .box input[type = "password"]{
    width: 200px; 
    border-color:orangered; 
}
.box input[type = "submit"]{
    border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid orangered;
padding: 14px 10px;
width: 200px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
}
.box input[type = "submit"]:hover{
    background: orangered;
}
.login{
    margin: 200px;
}